<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>836761278037-vk40sc7phr9pd6m39oihhm8ngf0hd33c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.836761278037-vk40sc7phr9pd6m39oihhm8ngf0hd33c</string>
	<key>API_KEY</key>
	<string>AIzaSyD8lICimTfCNKX7oMKhJfySQ0On7QZuDxU</string>
	<key>GCM_SENDER_ID</key>
	<string>836761278037</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.wasteManagement</string>
	<key>PROJECT_ID</key>
	<string>dedumpster-4e4f6</string>
	<key>STORAGE_BUCKET</key>
	<string>dedumpster-4e4f6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:836761278037:ios:9037730bb3e6977fb066dc</string>
</dict>
</plist>